:root{
    --color-primario:  #e99401;
    --color-black: #262626;
    --color-white: #fff;

    --funtePrincipal: 'Outfit', sans-serif;    

    --separacion: 5rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: var(--funtePrincipal);
    font-size: 1.6rem;
    background-color: var(--color-grisClaro);
}

p {
    font-size: 1.6rem;
    line-height: 1.8;
}

[class*="__contenedor"] {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3 {
    margin: 0 0 2rem  0 ;
}

h1 {
    font-size: 4.5rem;
}
@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }
}

h2 {
    font-size: 3rem;
}

@media (min-width: 768px){
    h2 {
        font-size: 4rem;
    }
}

h3 {
    font-size: 2.5rem;
}
@media (min-width: 768px){
    h3 {
        font-size: 3rem;
    }
}

ul {
    padding:0;
    list-style: none;
    margin: 0;
}

.btn{
    margin-top: 3rem;
    text-decoration: none;
    padding: 1rem 5rem;
    border: 2px solid var(--color-primario);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    transition-property: background-color;
    transition-duration: .3s;
}
.btn:hover{
    background-color: var(--color-primario);
}

.seccion{
    padding: 5rem 0;
}
@media (min-width: 768px){
    .seccion{
        padding: 8rem 0;
    }
}

[class*="__heading"]{
    font-size: 4rem;
    text-align: center;
    color: var(--color-primario);
    font-weight: 900;
    margin: 5rem 0;
}

.scroll-horizontal{
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.bg{
    background-repeat: no-repeat;
    background-size: cover;
}